<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3.270314218148048" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3.270314218148048" rpy="0 0 0"/>
            <geometry>
                <box size="0.9739392405743107 0.7825089229379271 0.5406284362960965" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3.270314218148048" rpy="0 0 0"/>
            <geometry>
                <box size="0.9739392405743107 0.7825089229379271 0.5406284362960965" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.0 -0.39125446146896353 3.270314218148048" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="0.0 -0.5302183039369245 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.5302183039369245 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5728338969600149 1.060436607873849 0.6898015959801156" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.5302183039369245 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5728338969600149 1.060436607873849 0.6898015959801156" />
            </geometry>
        </collision>
    </link>
    <joint name="1_3" type="revolute">
       <parent link="1"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.0 -1.060436607873849 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 -0.5385930161549537 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.5385930161549537 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5830794120904681 1.0771860323099074 0.7228069553743106" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.5385930161549537 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5830794120904681 1.0771860323099074 0.7228069553743106" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.5385930161549537 0.3614034776871553" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.0 0.2232330195978014" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.2232330195978014" rpy="0 0 0"/>
            <geometry>
                <box size="0.5963792289148069 0.5154649085264233 0.4464660391956028" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.2232330195978014" rpy="0 0 0"/>
            <geometry>
                <box size="0.5963792289148069 0.5154649085264233 0.4464660391956028" />
            </geometry>
        </collision>
    </link>
    <joint name="1_5" type="revolute">
       <parent link="1"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.2864169484800074 -0.5302183039369245 0.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.18831988014104079 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.18831988014104079 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37663976028208157 0.5776864526937804 0.607256905727935" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.18831988014104079 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37663976028208157 0.5776864526937804 0.607256905727935" />
            </geometry>
        </collision>
    </link>
    <joint name="4_2" type="revolute">
       <parent link="4"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.0 0.2577324542632117 0.2232330195978014" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 0.19571523323217394 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.19571523323217394 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0462551138168041 0.39143046646434787 0.3862352927228162" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.19571523323217394 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0462551138168041 0.39143046646434787 0.3862352927228162" />
            </geometry>
        </collision>
    </link>
    <joint name="2_7" type="revolute">
       <parent link="2"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-0.5231275569084021 0.19571523323217394 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="-0.5021277147821124 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5021277147821124 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0042554295642248 0.5268867086995486 0.41502598758446113" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5021277147821124 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0042554295642248 0.5268867086995486 0.41502598758446113" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.37663976028208157 0.0 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.37278949526511085 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.37278949526511085 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7455789905302217 0.7586132323596093 0.5625856685164482" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.37278949526511085 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7455789905302217 0.7586132323596093 0.5625856685164482" />
            </geometry>
        </collision>
    </link>
</robot>