<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3.5428989793229544" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3.5428989793229544" rpy="0 0 0"/>
            <geometry>
                <box size="0.5138115586299051 1.0736556493658338 1.0857979586459083" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3.5428989793229544" rpy="0 0 0"/>
            <geometry>
                <box size="0.5138115586299051 1.0736556493658338 1.0857979586459083" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.25690577931495256 0.0 3.5428989793229544" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="1">
        <inertial>
            <origin xyz="-0.4197266123814989 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4197266123814989 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8394532247629978 0.5997410052558924 0.5751204563271499" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4197266123814989 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8394532247629978 0.5997410052558924 0.5751204563271499" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.4197266123814989 -0.2998705026279462 0.0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.0 -0.4574078371338597 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.4574078371338597 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8150977335000775 0.9148156742677194 0.5688735648280491" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.4574078371338597 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8150977335000775 0.9148156742677194 0.5688735648280491" />
            </geometry>
        </collision>
    </link>
    <joint name="1_3" type="revolute">
       <parent link="1"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.4197266123814989 0.0 0.28756022816357496" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.0 0.0 0.34804587284902105" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.34804587284902105" rpy="0 0 0"/>
            <geometry>
                <box size="0.753934567591278 0.4239648782901586 0.6960917456980421" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.34804587284902105" rpy="0 0 0"/>
            <geometry>
                <box size="0.753934567591278 0.4239648782901586 0.6960917456980421" />
            </geometry>
        </collision>
    </link>
    <joint name="2_4" type="revolute">
       <parent link="2"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.0 -0.4574078371338597 -0.28443678241402454" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.0 0.0 -0.263153709849362" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.263153709849362" rpy="0 0 0"/>
            <geometry>
                <box size="0.6373697137524744 0.7258406134367252 0.526307419698724" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.263153709849362" rpy="0 0 0"/>
            <geometry>
                <box size="0.6373697137524744 0.7258406134367252 0.526307419698724" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.0 -0.5368278246829169 3.5428989793229544" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.0 -0.5208198167923198 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.5208198167923198 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4707830097269395 1.0416396335846396 1.0350000400762633" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.5208198167923198 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4707830097269395 1.0416396335846396 1.0350000400762633" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 3.0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.0 0.0 -0.4591983782360093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.4591983782360093" rpy="0 0 0"/>
            <geometry>
                <box size="0.9553841919858854 0.6250254493485612 0.9183967564720186" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.4591983782360093" rpy="0 0 0"/>
            <geometry>
                <box size="0.9553841919858854 0.6250254493485612 0.9183967564720186" />
            </geometry>
        </collision>
    </link>
    <joint name="3_7" type="revolute">
       <parent link="3"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.0 -0.2119824391450793 0.34804587284902105" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.0 -0.3879399273228243 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.3879399273228243 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7301221562949346 0.7758798546456486 0.5609230570916255" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.3879399273228243 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7301221562949346 0.7758798546456486 0.5609230570916255" />
            </geometry>
        </collision>
    </link>
</robot>